/* Extras */
:root {
    --cor1: #9d6d48;
    --cor2: #d4a64a;
    --cor3: #f5f5f5;
    --cor4: #cccccc;
    --cor5: #a6a6a6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif
}

/* Cabeçalho */
.ContainerBoasVindas {
    background-color: var(--cor2);
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 0;
}

.ContainerBoasVindas .saudacao {
    position: absolute;
    padding-left: 20px;
    padding-top: 15px;
    text-align: left;
    color: white;
}

.ContainerBoasVindas .saudacao:hover {
    cursor: default;
}


.ContainerBoasVindas .whats {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    position: absolute;
    right: 100px;
    top: 15px;
    color: white;
}

.ContainerBoasVindas .whats:hover {
    cursor: pointer;
    text-decoration: underline;
}


.ContainerBoasVindas .IconeInsta {
    position: absolute;
    right: 60px;
    top: 10px;
    height: 30px;
    width: auto;
}

.ContainerBoasVindas .IconeInsta:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.ContainerBoasVindas .IconeEmail {
    position: absolute;
    right: 20px;
    top: 10px;
    height: 30px;
    width: auto;
}

.ContainerBoasVindas .IconeEmail:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.ContainerHeader {
    position: relative;
    background-color: var(--cor3);
    align-items: center;
    margin-top: 0px;
    width: 100%;
    height: 150px;
}

.LogoTipo {
    margin-top: -20px;
    margin-left: 10px;
    position: absolute;
    height: 90%;
    width: auto;
}

.ContainerAbaDePesquisa {
    position: relative;
    background-color: var(--cor4);
    width: 100%;
    height: 50px;
}

.AbaDePesquisa {
    border: solid 2px var(--cor5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline: none;
    position: absolute;
    background-color: white;
    border-radius: 15px;
    width: 50%;
    min-width: none;
    max-width: 670px;
    height: 30%;
    top: 30%;
    left: 29%;
    padding-left: 45px; 
    padding-right: 15px;
    margin-left: 5px;
}

input:focus {
    border: solid 2px var(--cor5);
}

input {
    position: relative;
}

.ContainerLupa {
    position: relative;
    height: 30px;
    width: 30px;
    top: 30%;
    left: 29.5%;
}
.Lupa {
    position: absolute;
    height: 23px;
    width: auto;
    top: 35%;
    left: 32%;
    cursor: pointer;
}

.AbaDePesquisa::placeholder {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.Busca {
    background-color: var(--cor4);
    padding-left: 0;
}


.Busca > nav > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.Busca > nav > ul > li {
    margin: 0 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    cursor: pointer;
}

.Busca > nav > ul > li > a {
    text-decoration: none;
    color: black;
}

.Busca > nav > ul > li > a:hover {
    background-color: white;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.Busca > nav > ul > li > a:focus {
    background-color: white;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Conteúdo Principal */

.ContainerNovidades {
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    min-height: 80vh;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.ContainerNovidades h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

.ContainerLivros {
    width: 100%;
    height: 400px;
    padding-bottom: 20px; 
}

.ContainerLivros::after {
    content: "";
    display: block;
    clear: both;
}


.Livro {
    outline: solid var(--cor5);
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: var(--cor4);
    height: auto;
    height: 400px;
    width: 250px;
    border-radius: 10px;
}

.Livro .Capa {
    outline: solid var(--cor5);
    border-radius: 15px;
    margin: 15px;
    margin-left: 20px;
    height: 300px;
    width: 210px;
    margin-right: 10px;
}

.Livro .Capa:hover {
    transform: scale(1.01);
}

.Livro .BotaoCompra {
    border-radius: 10px;
    outline: solid var(--cor5);
    height: 60px;
    width: auto;
    transform: translateY(-5px) translateX(170px);
}

.Livro .BotaoCompra:hover {
    transform: scale(1.0050) translateY(-5px) translateX(170px);
    cursor: pointer;
}

.Livro > h3 {
    outline: solid var(--cor5);
    background-color: var(--cor3);
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    padding-top: 8px;
    height: 40px;
    width: 140px;
    transform: translateY(-60px) translateX(28px);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
}


.Conteudo {
    clear: both;
    height: 50%;
    width: 100%;
}

.BackConteudo {
    position: relative;
    background-color: var(--cor2);
    height: 300px;
    width: 100%;
}

.MulherSurpresaCelular {
    height: 300px;
    float: left;
}

.BackConteudo h3 {
    padding-top: 20px;
    color: white;
    font-size: 40px;
    margin-bottom: 15px;
    border-bottom: 2px solid var(--cor1);
    display: inline-block;
    padding-bottom: 5px;
}

.BackConteudo p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-right: 0%;
    font-size: 28px;
    margin-bottom: 5px;
}

.BackConteudo a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 27px;
}

.BackConteudo a > img {
    margin-top: -10px;
    height: 80px;
    width: 160px;
}

.BackConteudo .PlaySote {
    float: left;
}

.BackConteudo .AppStore {
    min-width: 20px;
    margin-top: -65px;
    height: 190px;
}

/* ROdapé */

footer {
    clear: both;
}

.RodapePrincipal {
    width: 100%;
    color: black;
    background-color: var(--cor3);
    display: inline-block;
    padding-top: 40px;
    margin-top: 10px;
}

.Detalhe {
    background-color: var(--cor4);
    height: 40px;
    transform: translateY(-40px);
}

.RodapeConteudo {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    gap: 30px;
}
.RodapeColuna h3 {
    font-size: 24px;
    margin-bottom: 15px;
    border-bottom: 2px solid var(--cor1);
    display: inline-block;
    padding-bottom: 5px;
}

.RodapeColuna p {
    font-size: 18px;
    margin-bottom: 20px;
}

.IconesPagamento img {
    outline: solid var(--cor2);
    height: 40px;
    margin-right: 10px;
    background: rgb(255, 255, 255);
    margin-bottom: 40px;
    padding: 5px;
    border-radius: 5px;
}

.RodapeBarraFinal {
    color: white;
    background-color: var(--cor2);
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    font-size: 16px;
}

.RodapeColuna a {
    color: white;
    text-decoration: underline;
}