
    /* Extras */
    * {
        margin: 0px;
        padding: 0px;

    }

    :root {
        --cor1: #ff6f00;
        --cor2: #f5f5f5;
        --cor3: #d4a64a;
        --cor4: #648380;
        --cor5: #D199CC;
        --cor6:
    }

    body {
        background-color: var(--cor);

/* -- Cabeçalho -- */
}
header > div {
    position: relative;
    color: white;
    width: 100%;
    height: 21vh;
    background-color: var(--cor3);
}

header > div > nav:hover {
    background-color: #f5f5f5;
}

div > h1 {
    text-align: center;
    font-size: clamp(4rem, 4vw, 4.5rem);
    
}

nav{
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 90vw;
    position: relative;
    margin-right: 5vw; 
    margin-left: 5vw;
    border-radius: 25px;
}


.busca:hover {
    background-color: #f5f5f5;
    border: none;
}
.busca:focus {
    background-color: #f5f5f5;
    outline: none;
}
.busca {
    background-color: white;
    border: none;
    position: relative;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 0.5%;
    text-align: center;

}

.lupa {
    padding: auto; top: 4%; left: 1%;
    position: absolute;
    width: 25px;
}


/* -- Rodapé -- */
    .creditos {
        padding-bottom: 2%;
        padding-top: 1%;
        margin-top: 80vh;
        position: relative;
        margin: top ;
        width: 100%;
        height: 6vh ;
        background-color: var(--cor3);
    }

    .creditos > p {
        font-size: clamp(0.6rem, 2vw, 1rem);
        font-weight: bold;
        color: white;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }
    .creditos > address {
        font-size: clamp(0.6rem, 2vw, 1rem);
        font-weight: bold;
        color: white;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }