/* Extras */
:root {
    --cor1: #9d6d48;
    --cor2: #d4a64a;
    --cor3: #f5f5f5;
    --cor4: #cccccc;
    --cor5: #a6a6a6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif
}

/* Cabeçalho */

header .TopoPag {
    position: relative;
    background-color: var(--cor2);
    padding: 1rem 2rem;
    align-items: center;
    width: 100%;
    height: 150px;
}

.LogoTipo {
    position: absolute;
    height: 80%;
    width: auto;
}


/* Conteúdo Principal */


/* Rodapé */
