* {
    margin: 0px;
    padding: 0px;

}

:root {
    --cor1: #ff6f00;
    --cor2: #f5f5f5;
    --cor3: #d4a64a;
    --cor4: #648380;
    --cor5: #D199CC;
    --cor6:
}

body {
    background-color: var(--cor);
}
header > div {
    position: relative;
    color: white;
    width: 100%;
    height: 24vh;
    background-color: var(--cor3);
}

div > h1 {
    text-align: center;
    font-size: 80px;
}
nav{
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 90vw;
    position: relative;
    margin-right: 5vw; 
    margin-left: 5vw;
    border-radius: 25px;
}
.creditos {
    padding-top: 6px;
    margin-top: 80vh;
    position: relative;
    margin: top ;
    width: 100%;
    height: 6vh ;
    background-color: var(--cor3);
}

.creditos > p {
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.creditos > address {
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}