/* Extras */
:root {
    --cor1: #9d6d48;
    --cor2: #d4a64a;
    --cor3: #f5f5f5;
    --cor4: #cccccc;
    --cor5: #a6a6a6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif
}

/* Cabeçalho */
header .TopoPag {
    position: relative;
    background-color: var(--cor3);
    align-items: center;
    width: 100%;
    height: 160px;
}

.TopoPag > div {
    position: relative;
    background-color: var(--cor2);
    color: var(--cor3);
    height: 40px;
    width: 100%;
    margin-top: 0;
}

.TopoPag > div > h3 {
    padding-left: 20px;
    padding-top: 8px;
    position: absolute;
    text-align: left;
    padding-top: 8px;
    font-weight: normal;
}

.BoasVindas {
    width: 100%;
    position: relative;
}

.LogoTipo {
    margin-left: 10px;
    position: absolute;
    height: 70%;
    width: auto;
}

div .BoasVindas img {
    position: absolute;
    height: 30px;
    margin-right: 0px;
}


div .BoasVindas .whats {
    font-size: 18px;
    margin-left: 0px;
    position: absolute;
    padding-top: 5px;
}

div .Busca {
    width: 100%;
    position: absolute;
    margin-top: 120px;
}



/* Conteúdo Principal */


/* Rodapé */
