/* Extras */
:root {
    --cor1: #9d6d48;
    --cor2: #d4a64a;
    --cor3: #f5f5f5;
    --cor4: #cccccc;
    --cor5: #a6a6a6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif
}

/* Cabeçalho */
.ContainerBoasVindas {
    background-color: var(--cor2);
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 0;
}

.ContainerBoasVindas .saudacao {
    position: absolute;
    padding-left: 20px;
    padding-top: 15px;
    text-align: left;
    color: white;
}

.ContainerBoasVindas .saudacao:hover {
    cursor: default;
}


.ContainerBoasVindas .whats {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    position: absolute;
    right: 100px;
    top: 15px;
    color: white;
}

.ContainerBoasVindas .whats:hover {
    cursor: pointer;
    text-decoration: underline;
}


.ContainerBoasVindas .IconeInsta {
    position: absolute;
    right: 60px;
    top: 10px;
    height: 30px;
    width: auto;
}

.ContainerBoasVindas .IconeInsta:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.ContainerBoasVindas .IconeEmail {
    position: absolute;
    right: 20px;
    top: 10px;
    height: 30px;
    width: auto;
}

.ContainerBoasVindas .IconeEmail:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.ContainerHeader {
    position: relative;
    background-color: var(--cor3);
    align-items: center;
    margin-top: 0px;
    width: 100%;
    height: 150px;
}

.LogoTipo {
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    height: 90%;
    width: auto;
}

.ContainerAbaDePesquisa {
    position: relative;
    background-color: var(--cor4);
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.AbaDePesquisa {
    border: solid 2px var(--cor5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    outline: none;
    position: absolute;
    background-color: white;
    border-radius: 15px;
    width: 50%;
    min-width: none;
    max-width: 670px;
    height: 30%;
    top: 30%;
    left: 30%;
}

input:focus {
    border: solid 2px var(--cor5);
}

input {
    position: relative;
}

.ContainerLupa {
    position: relative;
    height: 30px;
    width: 30px;
    top: 30%;
    left: 30%;
}
.Lupa {
    position: absolute;
    height: 20px;
    width: auto;
    top: 38%;
    left: 31.5%;
    cursor: pointer;
}

.AbaDePesquisa::placeholder {
    padding-left: 30px;
    min-width: 30px;
    max-width: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.Busca {
    background-color: var(--cor4);
    position: relative;
    width: 100%;
    height: auto;
}

.Busca > nav > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.Busca > nav > ul > li {
    margin: 0 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    cursor: pointer;
}

.Busca > nav > ul > li > a {
    text-decoration: none;
    color: black;
}

.Busca > nav > ul > li > a:hover {
    background-color: white;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.Busca > nav > ul > li > a:focus {
background-color: white;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Conteúdo Principal */

.ContainerNovidades {
    background-color: white;
    position: relative;
    width: 100%;
    height: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

/* Rodapé */
