/* Extras */
:root {
    --cor1: #9d6d48;
    --cor2: #d4a64a;
    --cor3: #f5f5f5;
    --cor4: #cccccc;
    --cor5: #a6a6a6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif
}

/* Cabeçalho */
.ContainerBoasVindas {
    background-color: var(--cor2);
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 0;
}

.ContainerBoasVindas .saudacao {
    position: absolute;
    padding-left: 20px;
    padding-top: 15px;
    text-align: left;
    color: white;
}

.ContainerBoasVindas .saudacao:hover {
    cursor: default;
}


.ContainerBoasVindas .whats {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    position: absolute;
    right: 100px;
    top: 15px;
    color: white;
}

.ContainerBoasVindas .whats:hover {
    cursor: pointer;
    text-decoration: underline;
}


.ContainerBoasVindas .IconeInsta {
    position: absolute;
    right: 60px;
    top: 10px;
    height: 30px;
    width: auto;
}

.ContainerBoasVindas .IconeInsta:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.ContainerBoasVindas .IconeEmail {
    position: absolute;
    right: 20px;
    top: 10px;
    height: 30px;
    width: auto;
}

.ContainerBoasVindas .IconeEmail:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.ContainerHeader {
    position: relative;
    background-color: var(--cor3);
    align-items: center;
    margin-top: 0px;
    width: 100%;
    height: 150px;
}

.LogoTipo {
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    height: 90%;
    width: auto;
}

.ContainerAbaDePesquisa {
    position: relative;
    background-color: var(--cor4);
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.AbaDePesquisa {
    outline: none;
    position: absolute;
    background-color: white;
    border-radius: 25px;
    width: 40%;
    height: 70%;
    top: 15%;
    left: 30%;
    box-shadow: 0px 0px 5px var(--cor5);
}

/* Conteúdo Principal */


/* Rodapé */
