
/* Extras */
    * {
        margin: 0px;
        padding: 0px;

    }

    :root {
        --cor1: #ff6f00;
        --cor2: #f5f5f5;
        --cor3: #d4a64a;
        --cor4: #648380;
        --cor5: #D199CC;
        --cor6:
    }

    body {
        background-color: var(--cor);

/* -- Cabeçalho -- */
    }
    header > div {
        position: relative;
        color: white;
        width: 100%;
        height: 21vh;
        background-color: var(--cor3);
    }


    div > h1 {
        text-align: center;
        font-size: clamp(4rem, 4vw, 4.5rem);
        
    }

    nav{
        background-color: rgb(255, 255, 255);
        height: 30px;
        width: 90vw;
        position: relative;
        margin-right: 5vw; 
        margin-left: 5vw;
        border-radius: 25px;
    }


    .busca:focus {
        outline: none;
    }
    .busca {
        background-color: white;
        border: none;
        position: relative;
        width: 80%;
        height: 80%;
        margin-left: 10%;
        margin-top: 0.5%;
        text-align: center;

    }

    .lupa {
        padding: auto; top: 4%; left: 1%;
        position: absolute;
        width: 25px;
    }

    .opções {
        position: relative;
        color: black;
        width: 100%;
        height: 5vh;
        background-color: var(--cor2);
        text-align: center;
        font-size: clamp(1rem, 2vw, 1.5rem);
        padding-top: 1%;
    }

    .opções {
        position: relative;
    }
    .opções > select {
        background-color: var(--cor2);
        position: absolute;
        font-weight: bold;
        border: none;
        font-size: 80%;
        border-radius: 8px;
        padding: auto; top: 25%; left: 1%;
    }

    .opções > select:hover {
        background-color: #d7d6d6;
        cursor: pointer;
    }

    .opções > .Cadastro {
        margin: auto; top: 25%; right: 9%;
        font-size: clamp(1.0rem, 2vw, 1.2rem);
        position : absolute;
        font-weight: bold;
        color: black;
        text-decoration: none;
    }

    .opções > .Login {
        margin: auto; top: 25%; right: 1%;
        font-size: clamp(1.0rem, 2vw, 1.2rem);
        position : absolute;
        font-weight: bold;
        color: black;
        text-decoration: none;
    }
    
    .opções > a:hover {
        padding-left: 0.3%;
        padding-right: 0.3%;
        border-radius: 20%;
        background-color: #d7d6d6;
        cursor: pointer;
    }

/* -- Rodapé -- */
    .creditos {
        padding-bottom: 2%;
        padding-top: 1%;
        margin-top: 80vh;
        position: relative;
        margin: top ;
        width: 100%;
        height: 6vh ;
        background-color: var(--cor3);
    }

    .creditos > p {
        font-size: clamp(0.6rem, 2vw, 1rem);
        font-weight: bold;
        color: white;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }
    .creditos > address {
        font-size: clamp(0.6rem, 2vw, 1rem);
        font-weight: bold;
        color: white;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }