
/* Extras */
* {
    margin: 0px;
    padding: 0px;

}

:root {
    --cor1: #ff6f00;
    --cor2: #f5f5f5;
    --cor3: #d4a64a;
    --cor4: #648380;
    --cor5: #D199CC;
    --cor6:
}

body {
    background-color: var(--cor);

/* -- Cabeçalho -- */
}
header > div {
    position: relative;
    color: white;
    width: 100%;
    height: 21vh;
    background-color: var(--cor3);
}


div > h1 {
    text-align: center;
    font-size: clamp(4rem, 4vw, 4.5rem);
    
}

nav{
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 90vw;
    position: relative;
    margin-right: 5vw; 
    margin-left: 5vw;
    border-radius: 25px;
}


.busca:focus {
    outline: none;
}
.busca {
    background-color: white;
    border: none;
    position: relative;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 0.2%;
    text-align: center;

}

.lupa {
    padding: auto; top: 4%; left: 1%;
    position: absolute;
    width: 25px;
}

.opções {
    position: relative;
    color: black;
    width: 100%;
    height: 5vh;
    background-color: var(--cor2);
    text-align: center;
    font-size: clamp(1rem, 2vw, 1.5rem);
    padding-top: 1%;
}

.opções {
    position: relative;
}
.opções > select {
    background-color: var(--cor2);
    position: absolute;
    font-weight: bold;
    border: none;
    font-size: 80%;
    border-radius: 8px;
    padding: auto; top: 25%; left: 1%;
}

.opções > select:hover {
    background-color: #d7d6d6;
    cursor: pointer;
}

.opções > .Cadastro {
    margin: auto; top: 25%; right: 9%;
    font-size: clamp(1.0rem, 2vw, 1.2rem);
    position : absolute;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.opções > .Login {
    margin: auto; top: 25%; right: 1%;
    font-size: clamp(1.0rem, 2vw, 1.2rem);
    position : absolute;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.opções > a:hover {
    padding-left: 0.3%;
    padding-right: 0.3%;
    border-radius: 20%;
    background-color: #d7d6d6;
    cursor: pointer;
}

/* -- Conteúdo Principal -- */
main {
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}
main  .banner {
    background-color: #648380;
    color: white;
    text-align: center;
    padding: 30px 10px;
}

main .banner h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

main s .banner p {
    font-size: 1.1rem;
}


main.conteudo {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

main .categorias {
    width: 20%;
    float: left;
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
}

main .categorias h3 {
    margin-bottom: 15px;
}

main .categorias ul {
    list-style: none;
}

main .categorias li {
    margin-bottom: 10px;
}

main .categorias a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

main .categorias a:hover {
    text-decoration: underline;
}

main .destaques {
    width: 100%;
    float: right;
}

main .destaques h3 {
    background-color: #D199CC;
    margin-bottom: 20px;
}

main .livro {
    width: 200px;
    height: 340px;
    float: left;
    background-color: #f5f5f5;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

main .livro .capa {
    width: 150px;
    height: 220px;
    background-color: #D199CC;
    margin: 0 auto 10px auto;
    border-radius: 5px;
}

main .livro span {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    font-weight: bold;
}

main .clear {
    clear: both;
}

/* -- Rodapé -- */
footer {
    position: relative;

}

.creditos {
    margin-bottom: 0px;
    position: absolute; 
    width: 100%;
    background-color: var(--cor3);
}

.creditos > p {
    font-size: clamp(0.6rem, 2vw, 1rem);
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.creditos > address {
    font-size: clamp(0.6rem, 2vw, 1rem);
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}